In [1]:
import streamlit as st
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# st.title("streamlit超入門")

In [3]:
tokyo_latlon = [35.69,135.70]

In [4]:
df = pd.DataFrame(
    np.random.randn(100,2)/[100,100] + tokyo_latlon,
    columns=["lat","lom"]
)

In [5]:
df.shape

(100, 2)

In [6]:
df

          lat         lom
0   35.678677  135.712387
1   35.680852  135.703438
2   35.684310  135.706759
3   35.694090  135.706316
4   35.673464  135.692839
..        ...         ...
95  35.687293  135.679514
96  35.683597  135.696021
97  35.682891  135.681043
98  35.689112  135.706236
99  35.706989  135.693571

[100 rows x 2 columns]